* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-color: yellowgreen;
  box-align: center;
}
.img {
  border-radius: 100%;
  width: 150px;
  height: auto;
}
.button {
  border-radius: 50px;
  background-color: darkcyan;
  padding: 20px;
  font-size: 30px;
  font-style: bold;
  margin: 20px;
  font-style: none;
}

.line-above-buttons {
  line-height: 4;
}
.navelement:hover {
  background-color: white;
  color: black;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: black;
}
.navelement {
  background-color: black;
  border: 2px solid black;
  color: white;
}
.headnav {
  position: fixed;
  background-color: black;
  top: 0px;
  left: 0;
  right: 0;
}
main {
  padding-top: 100px;
}
.upbutton {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  background-color: aqua;
  z-index: 1;
}
