* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-color: yellowgreen;
  box-align: center;
  text-decoration: none;
}
.img {
  border-radius: 100%;
  width: 150px;
  height: auto;
  align-self: center;
}
.button {
  border-radius: 50px;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-style: bold;
  margin: 20px;
  font-style: none;
  text-decoration: none;
  line-height: 3;
}
.main {
  display: flex;
  flex-direction: column;
}
.button:hover {
  color: black;
  background-color: white;
}
.upbutton:hover {
  color: black;
  background-color: white;
}
.line-above-buttons {
  line-height: 4;
}
.navelement:hover {
  background-color: white;
  color: black;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: black;
}
.navelement {
  background-color: black;
  color: white;
}
.headnav {
  position: fixed;
  background-color: black;
  top: 0px;
  left: 0;
  right: 0;
}
main {
  padding-top: 50px;
}
.upbutton {
  position: fixed;
  right: 20px;
  bottom: 30px;
  border-radius: 100px;
  background-color: black;
  color: white;
  z-index: 1;
  padding: 10px;
  text-decoration: none;
}
