* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-color: yellowgreen;
  box-align: center;
}
.img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.a {
  border-radius: 50px;
  background-color: darkcyan;
  padding: 50px;
  font-size: 30px;
  font-style: bold;
  margin: 20px;
}

.b {
  line-height: 4;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: black;
}
.navelement {
  background-color: black;
  border: 2px solid black;
  border-radius: 20%;
  padding: 20px;
}
.headnav {
  position: fixed;
  background-color: black;
  top: 0px;
  left: 0;
  right: o;
}
main {
  padding-top: 100px;
}
